<% layout("layout") -%>
<header >
    <h1>
        Welcome To My Chat
    </h1>
</header>
        <div class="container-fluid">
            <div class="chat">
                <p id='chatMsg'></p>
                <p class="fixed-bottom" id='write'></p>
            </div>
                <form action="" class="fixed-bottom" >
                    <input id="inpMsg" type="text" placeholder='Write message ...'>
                    
                    <button id="btnSend"  >Send</button>
                    

                </form>
        </div>